---
const { id, label } = Astro.props;
---

<button id={id} type="button" class="text-white font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center bg-[#aa954b] hover:bg-[#977430] mb-5">{label}</button>
