<div class="justify-center items-center flex flex-col mt-10">
    <span class="text-white font-bold text-2xl lg:text-4xl md:text-3xl">LOTERÍA DE NAVIDAD</span>
    <img class="size-5/12" src="/bombo.png" />
</div>